/* Default styles */
.container {
  display: flex;
  gap: 1rem;
  padding-top: 3rem;
}

.offerAside,
.detailsAside {
  background-color: #f0f4f8;
  padding: 1rem;
  border-radius: 0.375rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 1rem;
}

.firstcard {
  margin-right: 1rem;
}

.imageContainer {
  width: 70px;
  height: 70px;
  border: 1px solid #d1d5db;
  border-radius: 0.375rem;
  padding: 1px;
}

.imgDefault {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textTitle {
  font-size: 2rem;
  font-weight: 600;
}

.applyDiv {
  margin-bottom: 1rem;
}

.defaultIcon{
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.defaultIcon svg {
  width: 1rem; /* Set your desired width */
  height: 1rem; /* Set your desired height */
  margin-right: 0.25rem; /* Set your desired margin */
}
.locationIcon{
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.locationIcon svg {
  width: 1rem; /* Set your desired width */
  height: 1rem; /* Set your desired height */
  margin-right: 0.25rem; /* Set your desired margin */
}
.calendarIcon{
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  color: #4a5568; 
}
.calendarIcon svg {
  width: 1rem; /* Set your desired width */
  height: 1rem; /* Set your desired height */
  margin-right: 0.25rem; /* Set your desired margin */
}

/* Calendar text */
.calendarSvg {
  color: #555555; /* Set your desired color */
}
.companyTitle{
  color: #4a5568;
}
.locationText {
  color: #4a5568;
}

.dateText {
  font-size: 1.125rem;
  font-weight: 600;
}


.descriptionTitle {
  font-size: 1.125rem;
  font-weight: 600;
}

.descriptionText {
  margin-top: 0.5rem;
  color: #4a5568;
}

.linkDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.applyButton {
  background-color: #4299e1;
  color: #fff;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.applyButton:hover {
  background-color: #3182ce;
}

.lineHr {
  border-top: 1px solid #e2e8f0;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.detailsDiv {
  margin-bottom: 1rem;
}

.detailsTitle {
  font-size: 1.125rem;
  font-weight: 600;
}

.detailsContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.detailsText {
  color: #4a5568;
}

.mapDiv {
  margin-top: 1.5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .offerAside,
  .detailsAside {
    margin-bottom: 1.5rem;
  }

  .firstcard {
    margin-right: 0;
  }
}
