/* Search.module.css */

.searchDiv {
    background-color:  #e5e7eb;
    border-radius: 10px;
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
    width: 100%;
  }
  
  .maxWScreenMd {
    max-width: 100%;
  }
  .searchCols{
    display: grid;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    
   
  }
  
  .firstDiv {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
  }
  
  .icon {
    display: flex;
    align-items: center;
    gap: 2px;
    flex: 1;
  }
  
  .text25 {
    font-size: 25px;
  }
  
  .inputSearch {
    background-color: transparent;
    color: #2196f3;
    /* Equal width with options dropdown */
  }
  
  .secDiv {
    display: grid;
    align-items: center;
    padding: 0.5rem;
    gap: 3px;
    justify-content: center;
  }
  
  .singleSearch {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 2px;
    justify-content: center;
  }
  
  .text808080 {
    color: #808080;
    font-weight: 600;
  }
  
  .optionSearch {
    background-color: #fff;
    border-radius: 3px;
    padding: 4px 16px;
    flex: 1; /* Equal width with text input */
  }
  
  .submit {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    padding-right: 2rem;
  }
  
  .clear {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-bottom: 2px;
  }
  
  .clearSpan {
    color: #808080;
    cursor: pointer;
  }
  
  .search {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  
  .searchButton {
    background-color: #2196f3;
    height: 100%;
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media (min-width: 930px) {
    .searchDiv{
        width: 800px;
    }
  
    .firstDiv {
    display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;

    }
  
    .secDiv {
        display: flex;
        padding: 0.5rem;
        gap: 3px;
        justify-items: center;
    }
  }
  